#setuptools
setuptools==81.2.0
#langchain-openai
langchain-openai==0.1.25
tabulate
chardet
folium
inflection
matplotlib
missingno
nltk
numpy
pandas
plotly
pydantic
requests
scikit-learn
scipy
seaborn
statsmodels
streamlit
streamlit-extras
streamlit-folium
streamlit-sortables
tqdm
python-dotenv
python-dateutil
IPython
dotenv
crewai
combo
fancyimpute
fuzzywuzzy
geopandas
graphviz
phunspell
pyenchant
enchant
pyod
pyspellchecker
pyvis
rapidfuzz
taipy
torch
ipywidgets
suod
langchain-experimental>=0.0.49
litellm
openai
pyenchant

